<html>
<head>
    <style>
        .span{
            background-color: #6f576d;
            text-decoration-color: #fcd8ff;
            font-size: 18px;
        }
    </style>
</head>
<body>
    @RenderBody()
    <nav class="navbar fixed-top navbar-inverse badge-primary" style="background-color: #6f576d; font-size: 18px">
        <span class="navbar-text">
            TaxiService
        </span>
    </nav>
</body>
</html>