<html>
<head>
    <style>
        h2{
            color: floralwhite;
            text-align: center;
            font-size: large;
            background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
        }

        .split{
            height:100%;
            width:50%;
            position:fixed;
        }

        .left{
            left: 0%;
            background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
        }

        .right{
            right: 0%;
            background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
        }

        .button{
            background-color:floralwhite;
            color:lightslategray;
            text-align: center;
            text-decoration: none;
            font-size: x-large;
            border-radius:8px;
            border: none;
            padding: 14px 40px;

            position: absolute;
            top: 40%;
            left: 40%;     
        }
        .button:hover{
            background-color: lightslategray;
            color: floralwhite;
        }
    </style>

    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/MyLoginScript.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('document').ready(function () {
            $('#login').click(function () {
                var path = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
                window.location.replace(path + "LogIn");
            });
            $('#register').click(function(){
                var path = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
                window.location.replace(path + "Registration");
            });
        });
    </script>
</head>
<body>
    <h2>Welcome to TaxiService</h2>
    <div class="split left">
        <button class="btn button" type="submit" id="login">LogIn</button> 
    </div>
    <div class="split right">
        <button class="btn button" type="submit" id="register">Register</button>
    </div>
</body>
</html>