<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <style>
        body#RegisterForm {
            background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 10px;
        }

        .form-heading {
            color: #fff;
            font-size: 23px;
        }

        .panel h2 {
            color: #444444;
            font-size: 18px;
            margin: 0 0 8px 0;
        }

        .panel p {
            color: #777777;
            font-size: 14px;
            margin-bottom: 30px;
            line-height: 24px;
        }

        .login-form .form-control {
            background: #f7f7f7 none repeat scroll 0 0;
            border: 1px solid #d4d4d4;
            border-radius: 4px;
            font-size: 14px;
            height: 50px;
            line-height: 50px;
        }

        .main-div {
            background: #ffffff none repeat scroll 0 0;
            border-radius: 2px;
            margin: 10px auto 30px;
            max-width: 38%;
            padding: 50px 70px 70px 71px;
        }

        .login-form .form-group {
            margin-bottom: 10px;
        }

        .login-form {
            text-align: center;
        }

        .forgot a {
            color: #777777;
            font-size: 14px;
            text-decoration: underline;
        }

        .login-form .btn.btn-primary {
            background: #f0ad4e none repeat scroll 0 0;
            border-color: #f0ad4e;
            color: #ffffff;
            font-size: 14px;
            width: 100%;
            height: 50px;
            line-height: 50px;
            padding: 0;
        }

        .forgot {
            text-align: left;
            margin-bottom: 30px;
        }

        .botto-text {
            color: #ffffff;
            font-size: 14px;
            margin: auto;
        }

        .register-form .btn.btn-primary.reset {
            background: #ff9900 none repeat scroll 0 0;
        }

        .back {
            text-align: left;
            margin-top: 10px;
        }

        .back a {
                color: #444444;
                font-size: 13px;
                text-decoration: none;
            }
        .form-inline {
           color: #495057; 
        }
    </style>


    <meta charset="utf-8" />
    <script type="text/javascript">

        function validateNumber(num) {
            num.value = num.value.replace(/[^0-9'\n\r.]+/g, '');
        }
        function validateText(txt) {
            txt.value = txt.value.replace(/[^a-zA-Z-'\n\r.]+/g, '');
        }

        $('document').ready(function () {
            $('#register').click(function () {
                let data = {
                    kIme: $('#inputUsername').val(),
                    Lozinka: $('#inputPassword').val(),
                    Email: $('#inputEmail').val(),
                    Ime: $('#inputName').val(),
                    Prezime: $('#inputLastname').val(),
                    Pol: $('#gender').val(),
                    Jmbg: $('#inputJmbg').val(),
                    Telefon: $('#inputPhone').val()
                }
                $.post("/api/User/AddUser", data)          
                    .done(function (data) {
                        alert("New user added successfuly: " + data.kIme);
                        var path = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
                        window.location.replace(path + "Home/Index");         
                    })
                    .fail(function(){
                        alert("Error at adding user!");
                    });
            });
        });
    </script>
</head>
<body id="RegisterForm">
    <div class="container">
        <div class="register-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Register</h2>
                    <p>Please enter your information</p>
                </div>
                <form id="Register">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputName" placeholder="Name" onkeypress="validateText(this)">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputLastname" placeholder="Last Name" onkeypress="validateText(this)">
                    </div>
                    <div class="form-inline">
                        <!--Gender: &emsp;
                        <input type="radio" class="form-control" name="gender" value="male" id="inputMale" checked>Male
                        &emsp;
                        <input type="radio" class="form-control" name="gender" value="female" id="inputFemale">Female-->
                        <select type="number" name="gender" id="gender" class="form-control input-sm" placeholder="Gender">
                            <option value="Male" selected>Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputJmbg" placeholder="JMBG" onkeypress="validateNumber(this)">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="inputPhone" placeholder="Phone" onkeypress="validateNumber(this)">
                    </div>
                    <button type="submit" class="btn btn-primary" id="register">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
